{% extends 'news/base.html' %}
{% load static %}
{% block title %}Parolni o'zgartirish{% endblock title %}
{% block content %}
<section id="newsSection">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h1>Parolni o'zgartirish</h1>
            <p>Parolni o'zgartirish uchun quyidagi formani to'ldiring</p>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <p>
                    <button type="submit">Parolni o'zgartirish</button>
                </p>
            </form>
        </div>
    </div>
</section>
{% endblock content %}